@media only screen and (max-width: 1200px) {
  #navbar {
    padding: 20px 10px;
  }

  #main-content {
    padding: 20px 10px;
  }

  #footer {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 992px) {
  #navbar {
    padding: 15px 5px;
  }

  #main-content {
    padding: 15px 5px;
  }

  #footer {
    padding: 15px 5px;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    padding: 10px 2px;
  }

  #main-content {
    padding: 10px 2px;
  }

  #footer {
    padding: 10px 2px;
  }
}

@media only screen and (max-width: 576px) {
  #navbar {
    padding: 5px 1px;
  }

  #main-content {
    padding: 5px 1px;
  }

  #footer {
    padding: 5px 1px;
  }
}